service variant-files-copy.odm /odm/bin/variant-files-copy.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service variant-props-override.odm /odm/bin/variant-props-override.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
